<% provide(:title, @user.name) %>
<h1>
<ul class="user">
<li><%= gravatar_for @user %>
<%= @user.name %>
<%= @user.id %></li>
<%= @user.email %></li>
<%= @user.admin %></li>
</ul>

<%= link_to "Activate", admin_path, method: :post, remote: true %>

<% if current_user == @user %>
<%= link_to "Edit", edit_user_path %>
<% end %>
</h1>